<div class="card">
    <div class="card-header">
        <h3 class="text-center">Welcome to Java Learning Center</h3>
        <h3 class="text-center">Student List</h3>
    </div>
</div>

<div class="card">
    <div class=" card-body">
        <div class="container">
            <table class="table table-striped table-bordered table-light">
                <thead class="thead-dark">
                    <tr>
                        <th>SID</th>
                        <th>Sname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th colspan=" 3 " align="center ">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stu of myStudents">
                        <td>{{stu.sid}}</td>
                        <td>{{stu.sname}}</td>
                        <td>{{stu.email}}</td>
                        <td>{{stu.phone}}</td>
                        <td>{{stu.city}}</td>
                        <td><button class="btn btn-success btn-lg">Edit</button></td>
                        <td><button class="btn btn-danger btn-lg">Delete</button></td>
                        <td><button class="btn btn-primary btn-lg">Full Info</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to ATS</h1>
        <div class="shadow p-4 mb-5 bg-info rounded">
            <h2>You are learning Angular from Satish Prasad</h2>
        </div>

        <hr class="my-4">
        <h3>Angular Topics Converage:
            <ul>
                <li>Angular Components</li>
                <li>Angular Directive</li>
                <li>Angular Pipes</li>
                <li>Angular Forms</li>
                <li>Angular Validation</li>
                <li>Angular Froms</li>
                <li>Angular Modules</li>
                <li>Angular Routes</li>
                <li>Angular API Calling</li>
                <li>Angular Unit Testing</li>
                and many more.
            </ul>
        </h3><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </div>
</div>